@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  color: white;
  max-width: 100vw;
  min-height: 100vh;
}

body::-webkit-scrollbar{
  width: 10px;
  background: #CFD8DC;
}

body::-webkit-scrollbar-thumb{
  background: #448cb0;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

textarea::-webkit-scrollbar{
  width: 10px;
  background: #CFD8DC;
}

textarea::-webkit-scrollbar-thumb{
  background: #448cb0;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}